/* CONSTANTS */
$headerHeight: 56px;
$resultHeight: 80px;
$cardsTotal: 3;
$cardsWidth: 90vw;
$cardsMaxWidth: 100%;
$cardsHeight: 100%;
$cardsMaxHeight: 480px;
$cardsPositionOffset: 10px;
$cardsScaleOffset: 0.02;
$imageIconSize: 200px;

/* COLOURS */
$color-a: #FF008C;
$color-b: #3377F6;
$color-white: #ffffff;
$color-orange: #f0a435;
$color-grey: #6e6e6e;
$color-text: #444444;
$color-background: #f3f3f3;

$loadingSize: 125px;
