/* CONSTANTS */

$cardsTotal: 3;
$cardsWidth: 90vw;
$cardsMaxWidth: 100%;
$cardsHeight: 480px;
$cardsMaxHeight: 480px;
$cardsPositionOffset: 10px;
$cardsScaleOffset: 0.02;

$imageIconSize: 200px;

/* COLOURS */
$color-a: #F24E86;
$color-b: #02B4FF;
$colour-white: #ffffff;
$colour-orange: #f0a435;
$colour-grey: #6e6e6e;
$colour-text: #444444;
$colour-background: #f3f3f3;

$loadingSize: 125px;
